<p>
  <strong>Author:</strong>
  <%= @meme.user_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @meme.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @meme.body %>
</p>

<%= link_to 'Back', root_path %>