<h1>Listing memes</h1>

<table>
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @memes.each do |meme| %>
    <tr>
      <td><%= meme.user.name %></td>
      <td><%= meme.title %></td>
      <td><%= meme.body %></td>
      <td><%= link_to 'Show', meme_path(meme) %></td>
    </tr>
  <% end %>
</table>
